<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Marco Ippolito</title>
    <meta name="description" content="I'm Marco Ippolito, a Developer Experience Engineer at NearForm. Passionate about the open source world, especially the Node.js ecosystem, I actively contribute to projects like Node.js, Fastify, Mercurius, and more.">

    <link rel="preload" href="./assets/fonts/Roboto-Regular-subset.woff2" as="font" crossorigin="anonymous" />
    <link rel="stylesheet" href="./assets/global.css">
  </head>
  <body>
    <div class="section bio">
      <img
        class="profile-pic"
        style="grid-area:pic"
        src="./assets/img/profile.jpeg"
        alt="Me presenting a talk at a conference"
        width="460"
        height="460"
      >

      <h1 style="grid-area:title">Marco Ippolito</h1>

      <p class="big" style="grid-area:bio">
        I'm a Developer Experience Engineer at NearForm. Passionate about the open source world, especially the Node.js ecosystem, I actively contribute to projects like Node.js, Fastify, Mercurius, and more.
      </p>

      <div class="row wrap gap0" style="grid-area:links">
        <a target="_blank" href="https://github.com/marco-ippolito" aria-label="GitHub">
          <span class="icon">
            <%- icons['github.svg'] %>
          </span>
        </a>

        <a target="_blank" href="https://twitter.com/marco-ippolito" aria-label="Twitter">
          <span class="icon">
            <%- icons['twitter.svg'] %>
          </span>
        </a>

        <a target="_blank" href="https://www.linkedin.com/in/marcoippolito2021/" aria-label="LinkedIn">
          <span class="icon">
            <%- icons['linkedin.svg'] %>
          </span>
        </a>

      </div>

      <div style="grid-area:near" class="glass row space-l">
        <span role="img" aria-label="NearForm logo">
          <%- icons['nearform.svg'] %>
        </span>
        <p>
          NearForm creates software solutions that accelerate enterprise
          success, enrich customer experience and contribute to the development
          of our community.

          <a href="https://www.nearform.com/" target="_blank">About it</a>
        </p>
      </div>
    </div>

    <div class="section agenda">
      <h2>Agenda 2023</h2>

      <div class="input" style="grid-area:search">
        <%- icons['magnifying-glass-solid.svg'] %>

        <input type="text" placeholder="Search...">
      </div>

      <table style="grid-area:table">
        <colgroup>
          <col span="1" style="width: max-content;">
          <col span="1" style="width: auto; margin-right: auto">
          <col span="1" style="min-width: max-content;">
          <col span="1" style="min-width: max-content;">
        </colgroup>

        <tbody>
          <%
          function hideSensitive(data) {
            if (data.private) {
              data.conference = 'TO BE DEFINED.JS'
              data.talk = data.conference.replace(/./g, '?')
              data.trClass = 'item-blur'
              data.date = '??/??/2023'
              data.link = 'https://github.com/marco-ippolito'
            }
          }
          agenda.filter((item) => !item.private).forEach((item) => { %>
          <tr class="<%= item.trClass %>">
              <td class="small agenda-date"><%= item.date %></td>
              <td class="agenda-main">
                <h3 class="big talk-title">
                  <%= item.conference %> <span><%= item.flag %></span>
                </h3>
                <p><%= item.talk %></p>
              </td>
              <td class="agenda-slide">
                <% if (item.slides === null) { %>
                  Not yet
                <% } else { %>
                  <a href="<%= item.slides %>"><%= item.slides %></a>
                <% } %>
              </td>
              <td class="agenda-link">
                <% if (item.link === null) { %>
                  Not yet
                <% } else { %>
                  <a target="_blank" href="<%= item.link %>">Conference Page</a>
                <% } %>
              </td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
    <footer>
      <p>© Marco Ippolito, Italy</p>
      <p class="designed">Design stolen to: <a href="https://www.gabriellamas.com.br/" class="link-design-by">Gabriel Lamas</a></p>
    </footer>
  </body>
</html>
